* {
    margin: 0;
    padding: 0;
}

.navbar {
    background: rgb(95, 91, 152);
    background: linear-gradient(90deg, rgba(95, 91, 152, 1) 0%, rgba(48, 108, 205, 1) 47%, rgba(0, 212, 255, 1) 100%);
}

.navbar li {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #ffffff;
}

a {
    color: #ffffff;
}

.banner {
    background: url(img/background.jpg) no-repeat center;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 20%;
    color: #ffffff;
    height: 100vh;
}

.container h2 {
    color: blue;
}

.container a {
    text-decoration: none;
}

footer #desc {
    text-align: justify;
    text-align-last: justify;
}

footer a {
    text-decoration: none;
}